/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  display: flex;
  flex-direction: column; 
  background-color: #242124;
  font-family: Poppins, sans-serif;
}

h1, h2, h3, h4, p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: -1px;
}

#info {
  margin-top: 35px;
}

form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}
input, button {
  width: 10%;
  text-align: center;
}

.searchInfo {
  border-radius: 2px;
  padding-bottom: 10px;
}

#searchBtn {
  margin-top: 15px;
  padding: 5px 5px;
  border-radius: 60px;
  cursor: pointer;
}

#img{
  display: block;
  margin: 0 auto;
  width: 20%;
}

#headLogo{
  display: block;
  margin: 0 auto;
  width: 40%;
  padding: 25px 0px
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
